@model Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary

@{
    ViewData["Title"] = "_Error";
}


@if (!Model.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var modelError in Model.Values.SelectMany(v => v.Errors))
            {
                <li>@modelError.ErrorMessage</li>
            }
        </ul>
    </div>
}
